body{
    margin:10px;
}

header{
    text-align: center;
}

section{
    justify-content: center;
}

.tableDatos{
    padding: 10px;
    margin: auto;
}

.tableDatos thead{
    text-align: center;
}

.tableDatos tbody{
    text-align: initial;
}