body{
    margin:20px;
}

header{
    text-align: center;
    background-color: rgb(129, 231, 129);
}

section{
    justify-content: center;
}

.tableDatos{
    padding: 10px;
    margin: auto;
}

.tableDatos thead{
    text-align: center;
}

.tableDatos tbody{
    text-align: initial;
}

.botonV{
    margin: 10px;
}