html{
    background-color:rgb(101, 218, 169);
}

body{
    margin: 1px;
    background-color: rgb(101, 218, 169);
}

.fondo{
    background-color: rgb(101, 218, 169);
}

.encabezado{
    height: 70px;
    width: 100%;
    display: flex;
    background-color: rgb(101, 218, 169);
    align-items: center;
}

.botonBack{
    width: 20%;
}

.botonBack a{
    height: 100%;
    width: 100%;
}

.nombreVuelo{
    display: flex;
    text-align: center;
}

.nombreVuelo h1{
    color: white;
    font-size: 30px;
    border-radius: 10px;
}

.fa-arrow-left:before{
    position: absolute;
    left: 10px;
    top: 10px;
}

.fa-plane:before{
    position: absolute;
    right: 20px;
    top: 10px;
}

i{
    color: white;
    font-size: 50px;
    margin: 10px;
}

.datos{
    background-color: white;
    border-top-left-radius: 3.5%;
    border-top-right-radius: 3.5%;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border: solid 1.5px;
}

.tableDatos{
    margin: 20px;
}



